*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.bak
t
t/**
t/*.*
*/work
*/work/**
*/work/*.*

work
work/**
work/*.*
quartus/db
quartus/db/*
quartus/db/**
quartus/db/*.*
*.wlf
*mti
*.mpf
