*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.bak
t
t/**
t/*.*
bak
bak/**
bakup
bakup/**
*.hdb
*.logdb
*.cdb
*.bpm
*.rdm
*.kpt
*.rdb
*.dpi
*.sig
*.hb_info
*.flock
work/*
*/work/*